@model DishoutOLO.ViewModel.AddMenuModel
@{
    ViewData["Title"] = "Manage Menu";
}
<div class="row">
    <div class="col-xl-12 order-xl-3 ">
        <div class="card">
            <form id="myForm" action="javascript:;">
                @Html.HiddenFor(mode=>mode.Id)
                @Html.HiddenFor(mode=>mode.IsActive)
                <input type="hidden" id="programIds" value="@Model.ProgramId" />
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Manage Menu</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="pl-lg-4">
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MenuName,new {@class="form-control-label"})
                                    @Html.EditorFor(model => model.MenuName, new { htmlAttributes = new { @class = "form-control required", @Placeholder = "Menu Name" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MenuPrice,new {@class="form-control-label"})
                                    @Html.EditorFor(model => model.MenuPrice, new { htmlAttributes = new { @class = "form-control required", @Placeholder = "Menu Price" } })
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProgramId,new {@class="form-control-label"})
                                    @Html.DropDownListFor(model=>model.ProgramId, ViewBag.ProgramList as SelectList, "---SELECT---",   new { @class = "form-control required",multiple = "multiple" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryId,new {@class="form-control-label"})
                                    @Html.DropDownListFor(f=>f.CategoryId, ViewBag.CategoryList as SelectList, "---SELECT---", new { @class = "form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(model=>model.Description,new {@class="form-control-label"})
                                    @Html.TextAreaFor(model=>model.Description,new { @class = "form-control required"} )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

          
           
            <div class="card-footer">
                <div class="row align-items-center" style="text-align: center; justify-content: center;">
                    <label href="#" class="col-form-label col-form-label-sm" style="font-size: 15px;">MenuAvailabilities</label>
                    <button type="button" id="btn-check" class="btn btn-md btn-success ml-3">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <div class="form-group ml-5 mt-n3">
                        <label class="col-form-label-sm " style="font-size: 15px;">Choose from Existing Menu</label>
                        @Html.DropDownListFor(f=>f.Id, ViewBag.MenuList as SelectList, "---SELECT---", new { @class = "form-control required",@id="selectvalue" })
                    </div>
                </div>
            </div>

          
                

            <form id="form" class="ml-5" action="javascript">
                <div class="row chooseplus mt-5">
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2  col-form-label mt-1 col-form-label-sm" >Days</label>
                            <div class="col-sm-10">
                                <select class="form-control"  id="week" name="week" required style="height: 40px;">
                                    <option value="">---Day---</option>
                                    <option value="sunday">Sunday</option>
                                    <option value="monday">Monday</option>
                                    <option value="tuesday">Tuesday</option>
                                    <option value="wednesday">Wednesday</option>
                                    <option value="thursday">Thursday</option>
                                    <option value="friday">Friday</option>
                                    <option value="saturday">Saturday</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label for="colFormLabelSm"  class="col-sm-2  col-form-label mt-1 col-form-label-sm">Form-time</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control " required id="fromtime" name="fromtime" style="height: 40px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group row">
                            <label for="colFormLabelSm" class="col-sm-2  col-form-label mt-1 col-form-label-sm ">To-time</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control" id="endtime" required name="endtime" style="height: 40px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <button type="button" id="dataupload" class="btn btn-md btn-success">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button" id="deletebtn" class="btn btn-md btn-danger ml-2">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </form>

            <table class="table" id="weektbl">
                <thead>
                    <tr>
                        <th scope="col">Day Name</th>
                        <th scope="col">From Time</th>
                        <th scope="col">End Time</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListAvaliblities != null && Model.ListAvaliblities.Count > 0)
                    {
                        foreach (var item in Model.ListAvaliblities)
                        {
                            <tr class="trpolicy" data-id="@item.Id">
                                <td>@item.week</td>
                                <td>@item.fromtime</td>
                                <td>@item.endtime</td>
                                <td>
                                    <a href="javascript:void(0)" class="deletepolicy" onclick="deletemenuAvaliblities(@item.Id)">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                      
                    }
                </tbody>
            </table>

            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        <button type="submit" id="btn-submit" class="btn btn-md btn-primary">
                            Save
                        </button>
                        <a href="/Menu/Index" class="btn btn-default">Cancel</a>
                        <label id="lblError" class="inline"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_CommonDeleteModal" />


@section Scripts{

    <script src="~/Assets/ManageMenu.js" asp-append-version="true"></script>
}



